<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Account />
  <Password />
  <RememberPassword>false</RememberPassword>
  <Install>true</Install>
  <HackCfg>
    <ExtendedZoom>true</ExtendedZoom>
    <AntiAFK>true</AntiAFK>
    <DebugConsole>false</DebugConsole>
    <TowerRange>None</TowerRange>
  </HackCfg>
  <Assemblies>
    <string>Evade.exe</string>
    <string>CloneRevealer.exe</string>
    <string>LasthitMarker.exe</string>
    <string>QuickSmite.exe</string>
    <string>Xerath.exe</string>
    <string>Blitzcrank.exe</string>
  </Assemblies>
  <Version>1.0.0.0</Version>
</Config>